@{
    ViewData["Title"] = "О сайте";
}
<div class="text-center">

    <h1>@ViewData["Title"]</h1>

    <br />

    <p>Демо версия сайта "Список дел" создана в 2024 г с использованием технологий SPA, SSR.</p>
</div>
